* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.caixa {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;

    margin-right: 10px;

    background-color: purple;
}

@media screen and (max-width: 700px) {
    .container {
        flex-wrap: wrap;
    }

    img {
        width: 80%;
        object-fit: scale-down;
    }
}

@media screen and (max-width: 320px) {}

@media screen and (min-width: 320px) and (max-width: 480px) {}

@media screen and (min-width: 480px) and (max-width: 768px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .container {
        display: none;
    }
}

@media screen and (min-width: 1200px) {}

/*
320px — 480px
481px — 768px
769px — 1024px
1025px — 1200px
1201px
*/